.footer {
    margin: 0;
    font-size: 0.75rem;
    text-align: center;
    background-color: $color-bg1;
    color: $color-text-contrast;
    width: 100%;
}

.footer a {
    color: $color-contrast-light;
}
