.o-footer {
    margin: 0;
    font-size: 0.75rem;
    text-align: center;
    background-color: $color-bg1;
    color: $color-text-contrast;
    width: 100%;

    a {
        color: $color-contrast-light;
    }
}

.o-footer__author {
    margin-top: 5px;
    font-size: larger;
    font-weight: bold;
}

