.uoc-footer {
    margin-top: 1.5rem;
    font-size: 0.75rem;
    text-align: center;
    background-color: $color-bg1;
    color: $color-text-contrast;
}

.uoc-footer a {
    color: $color-contrast-light;
}
  