/*------------------------------------*\
  # Header
\*------------------------------------*/

/* Fixed top container */
.l-header-container {
    position: fixed;
    width: 100%;
    z-index: 9999;

    background-color: $color-bg3;

    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: $desktop-min-width) {
    .l-header-container {
        flex-direction: row;
        justify-content: space-between;
    }
}


/* Main logo for the page */
.o-header__logo {
    margin-left: 0em;

    picture > img {
        max-width: $header-logo-width;
    }
}

@media only screen and (min-width: $desktop-min-width) {
    .o-header__logo {
        margin-left: 0.5em;
    }
}

/* Main title for the page */
.o-header__title {
    text-align: center;
    color: $uoc-corporate;
    margin: 0;
    margin-bottom: 10px;
    line-height: 1em;
    
    // function with some random values that look ok
    // 100vw - 300px : width available - $header-logo-width from logo
    font-size: calc(24px + (26 - 14) * ((100vw - $header-logo-width) / (1600 - 300)));
}

@media only screen and (min-width: $desktop-min-width) {
    .o-header__title {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 0;
    }
}

/* Github link placeholder for the code */
.o-header__github {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    margin: 0.2em 0.2em 0 0;

    // Keep these properties even after other conflicting styles
    color: $color-text !important;
    text-decoration: none !important;
}

@media only screen and (min-width: $desktop-min-width) {
    .o-header__github {
        position: relative;
        font-size: 50px;
        margin: 0.3em 0.4em 0 0;
    }
}
