main {
    margin-top: 100px;
    padding: 2rem;
}

main section > h2 {
    text-align: left;
    margin-top: 2em;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid $uoc-masterbrand;
}

main section > h2 > i {
    border-radius: 2em;
    background-color: $color-bg1;
    color: $color-bg4;
    padding: 10px;
}
