/*------------------------------------*\
  # Main
\*------------------------------------*/

main {
    margin: $header-height-mobile 10px 10px 10px;

    /* Each of the sections */
    section {
        // reset float from images above
        @include clearfix();

        h2 {
            text-align: center;
            margin-top: 1em;
            padding-bottom: 0.5rem;
            border-bottom: 2px solid $uoc-masterbrand;

            i {
                border-radius: 2em;
                background-color: $color-bg1;
                color: $color-bg4;
                padding: 10px;
            }
        }

        h3 {
            // reset float from images above
            @include clearfix();
        }
    }
}

@media only screen and (min-width: $desktop-min-width) {
    main {
        margin-top: $header-height-desktop;

        section {
            h2 {
                text-align: left;
                margin-top: 2em;
            }
        }
    }
}

/* Special layout modification to increase vertical margin */
.l-main--more-v-margin {
    margin-top: 1em;
}

@media only screen and (min-width: $desktop-min-width) {
    .l-main--more-v-margin {
        margin-top: 3em;
    }
}