.summary-container {
  margin: 0 0 2em 2em;
  max-width: 300px;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  float: right;
  padding: 2rem;
  font-size: x-small;
  line-height: normal;
}

.summary-container>section>h3 {
  width: 100%;
  text-align: center;
  background-color: $color-bg4;
  color: $color-bg1;
  padding: 5px 0;
}

.summary-container figure {
  width: 100%;
  border: none;
  margin-bottom: 10px;
}

.summary-container figcaption {
  border: none;
}

.summary-container dl {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  line-height: 1rem;
}

.summary-container dt {
  font-weight: bold;
  flex: 0 0 30%;
}

.summary-container dd {
  flex: 0 0 70%;
  margin-left: auto;
}