/*------------------------------------*\
  # Inline Cites
\*------------------------------------*/

/* Use a handwritten format */
q {
    font-family: $font-family-serif;
    font-size: 22px;
    font-style: italic;
    margin-right: 0.5em;
}