a {
    text-decoration: none;
    color: $link-internal;
}

a:hover {
    text-decoration: underline;
}

a[target="_blank"] {
    color: $link-external;
    text-decoration: underline;
}

a.term {
    text-decoration: underline dotted;
    color: $color-bg1;
}