/*------------------------------------*\
  # Figures
\*------------------------------------*/

figure {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0.5em;
    padding-bottom: 0;
    background-color: $figures-background-color;
    border: thin $uoc-masterbrand solid;
    border-bottom: none;
    border-top-left-radius: $figures-border-radius;
    border-top-right-radius: $figures-border-radius;
    
    img {
        width: 100%;
    }

    figcaption {
        display: table-caption;
        caption-side: bottom;
        font-size: small;
        text-align: center;
        padding-left: 0.5em;
        background-color: $figures-background-color;
        border: thin $uoc-masterbrand solid;
        border-top: none;
        border-bottom-left-radius: $figures-border-radius;
        border-bottom-right-radius: $figures-border-radius;
    }
}

@media only screen and (min-width: $desktop-min-width) {
    figure {
        width: 30%;
        margin: 0.5em;
        margin-bottom: 0;
    }
}

/* Helper to place images at the left of the content */
figure.h-left {
    float: none;
}

/* Helper to place images at the right of the content */
figure.h-right {
    float: none;
}

.h-100w {
    width: 100%;
}

@media only screen and (min-width: $desktop-min-width) {
    figure.h-left {
        float: left;
        margin-left: 0;
    }
    figure.h-right {
        float: right;
        margin-right: 0;
    }
}
