<div class="header-container">
    <div class="header-logo">
        <a href="https://uoc.edu" target="_blank" rel="noopener noreferrer">
            <picture>
                <source srcset="./assets/images/logo.png?as=webp" type="image/webp" />
                <img src="./assets/images/logo.png" alt="Universitat Oberta de Catalunya" />
            </picture>
        </a>
    </div>
    <div class="header-title">
        <h1>M4.258 - Herramientas HTML y CSS II - PEC1</h1>
    </div>
    <div class="header-github">
        <a href="https://github.com/fmbiete/uoc_m4.258-pec1" target="_blank" rel="noopener noreferrer"><i
                class="fa-brands fa-github"></i></a>
    </div>
</div>